<form action="/quiz">
    <label for="questionCount">How many Questions?(4-8)</label>
    <input type="number" id="questionCount" name="questionCount" min="4" max="8" />
    <br>
    <input type="submit" class="btn btn-default btn-lg" value="Start Quiz">
</form>