<footer class="footer">
    <small>
        <a>HD</a>
    </small>
 <nav>
    <ul>
        <li><%= link_to "Facebook", "https://www.facebook.com" %></li>
        <li><%= link_to "Twitter", "https://www.twitter.com" %></li>
        <li><%= link_to "LinkedIn", "https://www.linkedin.com" %></li>

    </ul>
 </nav>
</footer>