<header class="navbar navbar-inverse">
<div class="container">
         <%= link_to "HOME", "/", id: "logo" ,style: "color:orange" %>
         <h id="logo" style="color:red">s3843584@student.rmit.edu.au</h>
         <h id="logo" style="color:yellow">GAYAN WIJESURIYA</h>
</div>
</header> 